# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Keep!
!*.obj
!*.lib

# Other
\.vs/

*junck/

Console Band \(OpenGL style\) V3/x64/

*.iobj

*.ipdb

GameEmGine/lib/
